
    <h1>Read</h1>
    <button onclick="window.location.href = '/read'">Read Data</button>

    <h1>Insert</h1>
    <form action="/insert">
        Name: <input type="text" name="name" /><br>
        Address: <input type="text" name="address" /> <br>
        <input type="submit" />
    </form>

    <h1>Delete</h1>
    <form action="/delete">
        Name: <input type="text" name="name" />
        <input type="submit" />
    </form>

    <h1>Update</h1>
    <form action="/update">
        Name: <input type="text" name="name" /><br>
        Address: <input type="text" name="address" /> <br>
        <input type="submit" />
    </form>